---
import Layout from '../layouts/BlogPost.astro';
import GlowLineSeparator from '@/components/ui/separator/GlowLineSeparator.astro';
import WorkExperience from '../components/sections/WorkExperience.astro';
import { work } from '../data/work';
import Button from "../components/ui/button/Button.astro";
const pageTitle = 'About Me | Project Dawn';
const pageDescription = 'Learn more about my background and approach to software engineering.';
---

<Layout title={pageTitle} description={pageDescription} pubDate={new Date()} showHeader={false} readingTimeMin={2}>
  <p>
    I am a generalist developer with over 10 years of experience in engine programming, game creation, and tools development. I’ve worked with several engines, including Unity, Bevy, and Phoenix, with more than 8 years dedicated to Unity engine development, driving major features and creating advanced tooling. I am also a self-published developer on the Unity Asset Store, releasing 9 commercial tools with over 40,000 downloads.
  </p>
  <p>
    My experience spans a broad range of engine components. On the graphics side, I’ve worked extensively with both low-level APIs (DirectX 12, DirectX 11, Vulkan, Metal) and high-level rendering systems, including Unity’s render pipelines and shader development. Beyond graphics, I’ve contributed to platform and mobile-specific systems, giving me deep insight into cross-platform engine challenges. I also have a strong passion for data-oriented design, with significant experience architecting systems around ECS principles for high-performance game development.
  </p>
  <p>
    I am highly skilled in multiple programming languages, including C, C++, C#, and Rust, with Rust being my personal favorite. These languages have shaped my versatility in approaching engine development, enabling me to work effectively across low-level systems, high-performance code, and user-facing tools.
  </p>

<div class="mt-8 flex flex-col items-center justify-center gap-3">
  <Button
    href="https://www.linkedin.com/in/lukas-chodosevi%C4%8Dius-ba3575a5/"
    variant="primary"
    size="md"
  >
    More Details...
  </Button>
</div>


  <WorkExperience title="Work Experience" items={work} />

  <GlowLineSeparator />

</Layout>
